.navbar {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    background-color: rgb(237, 232, 226);
}

.navbar .list {
    list-style-type: none;
    display: flex;
    margin-right: 3rem;
}

.navbar .list li .navitems {
    padding: 0px 1rem;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    font-size: 1.1rem;
}

.navbar .logo {
    height: 4rem;
    cursor: pointer;
}

.navbar .register {
    background-color: rgb(12, 28, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3rem;
    border-radius: 10px;
}

.navbar .register .navitems {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar .navitems:hover {
    text-decoration: none;

}
.navbar .registerCont {
    display: flex;
    align-items: center;
}